@model OVGPFinalv1.Models.Chat

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Details Chat</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ChatId">Edit</a> |
    <a asp-action="Index">Terug naar nieuwspagina</a>
</div>
