@model OVGPFinalv1.Models.Agenda

@{
    ViewData["Title"] = "Delete";
}


<h3>Delete</h3>
<p class="w-responsive mx-auto mb-5">
    Weet je zeker dat u dit wilt verwijderen?
</p>
<div class="row">
    <div class="col-md-4">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tekst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tekst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tijd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tijd)
        </dd>
        </dl>
        <form class="form-group" asp-action="Delete">
            <input type="hidden" asp-for="AgendaId" />
            <input type="submit" value="Delete" class="btn btn-primary" />
        </form>
        <form>
            <button class="btn btn-grey m-right btn-sm" asp-action="Index">Terug</button>
        </form>
    </div>
</div>