@model IEnumerable<OVGPFinalv1.Models.Agenda>

@{
    ViewData["Title"] = "Index";
}


<h1>Agenda</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<script>
    var months = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"];
</script>


@foreach (var item in Model)
{
    <div class="container cal-con">
        <div class="row row-striped col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <p class="calendar">
                    @Html.DisplayFor(modelItem => item.StartDatum.Day)<em id="month"></em>
                </p>
            </div>
            <div class="col-md-7">
                <h3 class="text-uppercase" style="color: black"><strong>@Html.DisplayFor(modelItem => item.Titel)</strong></h3>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="m-right far fa-calendar-alt"></i>@Html.DisplayFor(modelItem => item.StartDatum)</li>
                </ul>
                <p>@Html.DisplayFor(modelItem => item.Tekst)</p>

                <a class="m-right" asp-action="Edit" asp-route-id="@item.AgendaId">Edit</a>
                <a class="m-right" asp-action="Details" asp-route-id="@item.AgendaId">Details</a>
                <a class="m-right" asp-action="Delete" asp-route-id="@item.AgendaId">Delete</a>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("month").innerHTML = months[@Html.DisplayFor(modelItem => item.StartDatum.Month)-1];
    </script>
    <br />
}