@model IEnumerable<OVGPFinalv1.Models.Nieuwsbrief>
<h3>Archief van nieuwsbrieven</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <input type="submit" value="Aanmaken nieuwsbericht" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@{int i = 0;}
<div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
    @foreach (var item in Model)
    {
        <div class="card">
            <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse_@i" aria-expanded="true"
               aria-controls="collapse_@i">
                <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading_@i">
                    <i class="fas fa-envelope fa-2x float-left black-text" aria-hidden="true" style="margin-right:20px"></i>
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                </div>
            </a>
            <div id="collapse_@i" class="collapse" role="tabpanel" aria-labelledby="heading_@i"
                 data-parent="#accordionEx23">
                <div class="card-body">
                    <div class="row my-4">
                        <div class="col-md-8 test">
                            <p><strong>Titel: </strong>@Html.DisplayFor(modelItem => item.Title)</p>
                            <p><strong>Onderwerp: </strong>@Html.DisplayFor(modelItem => item.Onderwerp)</p>
                            <p>@Html.DisplayFor(modelItem => item.Text)</p>
                            <form>
                                <button class="btn btn-grey m-right btn-sm" style="margin-top: 4px;" asp-action="Details" asp-route-id="@item.NieuwsbriefId">Details</button>
                                <button class="btn btn-grey m-right btn-sm" style="margin-top: 4px;" asp-action="delete" asp-route-id="@item.NieuwsbriefId">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        i++;
    }
</div>